@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
:root {
    --clr-main: #040b14; 
    --clr-white: #ececec;
    --clr-gray: #cccccc; 
    --clr-red: #e00000;

}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans sans-serif;
}

h1, h2, h3, h4, h5, h6, input, textarea, ul {
    margin:0;
    padding: 0;
}

ul {
    list-style-type: none;
}

p {
    color: white;
    text-align: center;
}

a {
    color: white;
    font-weight: bold;
}  


#header {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 15rem;
    transition: all ease-in-out 0.5s;
    z-index: 9997;
    transition: all 0.5s;
    padding: 0 15px;
    background: #040b14;
    overflow-y: auto;
}

#header .profile img {
    margin: 15px auto;
    display: block;
    width: 120px;
    border: 8px solid #ffffff;
}

#header .profile h1 {
    font-size: 24px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    -moz-text-align-last: center;
    text-align-last: center;
    font-family: "Roboto", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
    color: #fff;
    text-decoration: none;
}

#header .profile .social-links a {
    font-size: 18px;
    display: inline-block;
    background: #212431;
    color: #fff;
    line-height: 1;
    padding: 8px 0;
    margin-right: 4px;
    border-radius: 50%;
    text-align: center;
    width: 36px;
    height: 36px;
    transition: 0.3s;
}

#header .profile .social-links a:hover {
    background: #149ddd;
    color: #fff;
    text-decoration: none;
}

.boton-carrito {
    margin-top: 2rem;
}

.number {
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .20rem .25rem;
    border-radius: .25rem;
    margin-left: 5px;
}

.boton-carrito.active .number {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.texto-footer {
    color: var(--clr-main-light);
    font-size: 1 rem;
    margin-left: 15rem;
    text-align: center;
}

#main {
    margin-left: 15rem;
    padding: 1.2rem;
}

.nav-menu {
    padding: 30px 0 0 0;
}

.nav-menu>ul>li {
    position: relative;
    white-space: nowrap;
}

.nav-menu a,
.nav-menu a:focus {
    display: flex;
    align-items: center;
    color: #a8a9b4;
    padding: 12px 15px;
    margin-bottom: 8px;
    transition: 0.3s;
    font-size: 15px;
}

.nav-menu a i,
.nav-menu a:focus i {
    font-size: 24px;
    padding-right: 8px;
    color: #6f7180;
}

.nav-menu a:hover,
.nav-menu .active,
.nav-menu .active:focus,
.nav-menu li:hover>a {
    text-decoration: none;
    color: #fff;
}

.nav-menu a:hover i,
.nav-menu .active i,
.nav-menu .active:focus i,
.nav-menu li:hover>a i {
    color: #149ddd;
}

.titulo-principal {
    color: var(--clr-main);
    margin-bottom: 2rem;
}

.helperText {
    color: #000; /* Color negro */
}
  
.contenedor-servicios {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 0.5rem;    
}

.servicio-imagen {
    max-width: 100%;
    border-radius: 1rem;
}

.servicio-detalles {
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.servicio-titulo {
    font-size: 1.2rem;
    text-align: center;
}

.servicio-agregar {
    border: 0;
    background-color: var(--clr-white);
    color: var(--clr-main);
    padding: .4rem;
    text-transform: uppercase;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid var(--clr-white);
    transition: background-color .2s, color .2s;
    font-weight: bold;
}

.servicio-agregar:hover {
    background-color: var(--clr-main);
    color: var(--clr-white);
}

.mi-boton-custom {
    padding: 15px 30px; 
    width: auto; 
    background-color: var(--clr-main);
    color: white; 
    font-weight: bold;
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    margin-top: 10px;
    &:hover {
        background-color: #2978b9 !important;
    }
}

.contenedor-carrito {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado {
    color: var(--clr-main);
    text-align: left;
}

.carrito-servicios {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-servicio {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: var(--clr-main);
    color: var(--clr-white);
    padding: .5rem;
    padding-right: 1.5rem;
    border-radius: 1rem;
}

.carrito-servicio-imagen {
    width: 4rem;
    border-radius: 1rem;
}

.carrito-servicio small {
    font-size: .75rem;
}

.carrito-servicio-eliminar {
    border: 0;
    background-color: transparent;
    color: var(--clr-red);
    cursor: pointer;
}

.carrito-acciones {
    display: flex;
    justify-content: space-between;
}

.carrito-acciones-vaciar {
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    border-radius: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    cursor: pointer;
    font-weight: bold;
}

.carrito-acciones-derecha {
    display: flex;
}

#textoTotal, #total {
    color: var(--clr-main);
}

.carrito-acciones-total {
    display: flex;
    border: 0;
    background-color: var(--clr-gray);
    padding: 1rem;
    color: var(--clr-main);
    text-transform: uppercase;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    font-weight: bold;
}

.carrito-acciones-comprar {
    border: 0;
    background-color: var(--clr-main);
    padding: 1rem;
    color: var(--clr-white);
    text-transform: uppercase;
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
    font-weight: bold;
}

#paypal-button-container {
    max-width: 600px; 
    margin: auto; 
}


.formulario {
    max-width: 500px; 
    margin: 0 auto; 
    display: flex;
    flex-direction: column; 
    align-items: flex-start; 
}

.error-container {
    display: flex;
    flex-direction: column;
}

.error {
    color: red; 
    font-size: 14px; 
    margin-bottom: 10px;
}

label {
    display: block; 
    margin-bottom: 10px; 
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%; 
    padding: 10px; 
    margin-bottom: 10px; 
}

textarea {
    height: 150px; 
}

.close-menu {
    display: none;
}

.disabled {
    display: none;
}

input[type="submit"] {
    padding: 15px 30px; 
    width: auto; 
    background-color: var(--clr-main);
    color: white; 
    font-weight: bold;
    border: none; 
    cursor: pointer; 
    border-radius: 5px;
    margin-top: 10px;
    width: auto;
}

input[type="submit"]:hover {
    background-color: #2978b9; 
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    text-align: center;
}

.modal-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    width: 100%;
    max-width: 500px;
    text-align: center;
}

.modal-content h2 {
    margin-bottom: 10px; 
}

.modal-content span {
    display: block; 
    margin-bottom: 10px; 
}

.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 25px;
    cursor: pointer;
}


.close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
}
